/* Hide scrollbar for all browsers */
.scrollbar-hidden {
    overflow-y: auto; /* Ensure scrolling works */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
